.SettingSide {
  position: fixed;
  top: 80px;
  right: 0;
  background-color: var(--main-bg-color);
  z-index: 10;
  height: 100vh;
  border-right: 2px solid var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transform: translatex(100%);

  &.open {
    transform: translatex(0);
    box-shadow: 4px 0px 12px -4px black;
  }

  .SettingSide-title {
    position: relative;
    margin-bottom: 10px;

    &::after {
      content: "";
      position: absolute;
      background-color: var(--main-color);
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      height: 5px;
      transition: var(--main-transition);
      border-radius: 25px;
    }
  }

  .SettingSide__drakMode {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .SettingSide__drakMode-checkBox {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    position: relative;
    transition: all 0.5s ease-in;
    cursor: pointer;
    z-index: 1;

    span {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: white;
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      transition: all 0.5s ease-in;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;

      path {
        color: black;
        transition: 0.8s;
        transform-origin: 50%;
      }
    }

    &.active {
      background-color: white;

      span {
        background-color: #eeb013;
        left: 52px;

        path {
          color: white;
          transform-origin: 50%;
          transform: rotate(180deg);
        }
      }
    }
  }

  .SettingSide__colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .SettingSide__color {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--main-color);
    cursor: pointer;
    filter: opacity(0.5);

    @media (max-width: 768px) {
      height: 40px;
      width: 40px;
    }

    &.active {
      transform: scale(1.2);
      border: 3px solid var(--main-text-color);
      filter: drop-shadow(2px 4px 6px black) opacity(1);
    }
  }

  .SettingSide__btn {
    position: absolute;
    right: 100%;
    top: 20px;
    box-shadow: 2px 3px 6px 0px black;

    &:hover {
      path {
        animation: 1s rot infinite linear;
        transform-origin: 50%;
      }
    }
  }
}
@keyframes rot {
  0% {
    transform-origin: 50%;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ############################################################## */
